/* ~/.config/wallust/templates/colors.css */
@define-color background #131012;
@define-color foreground #FDF6FB;
@define-color cursor #B59DD3;

@define-color color0 #3B383A;
@define-color color1 #5F4F67;
@define-color color2 #6D45AB;
@define-color color3 #8A7994;
@define-color color4 #CF69EA;
@define-color color5 #CCABE2;
@define-color color6 #F8E4F3;
@define-color color7 #F3E9F1;

@define-color color8 #AAA3A8;
@define-color color9 #5F4F67;
@define-color color10 #6D45AB;
@define-color color11 #8A7994;
@define-color color12 #CF69EA;
@define-color color13 #CCABE2;
@define-color color14 #F8E4F3;
@define-color color15 #F3E9F1;