/* ~/.config/wallust/templates/colors.css */
@define-color background #101012;
@define-color foreground #F0EEE3;
@define-color cursor #C6C2B0;

@define-color color0 #39393A;
@define-color color1 #8F7F71;
@define-color color2 #9C957E;
@define-color color3 #75A097;
@define-color color4 #9EB39F;
@define-color color5 #C4B092;
@define-color color6 #D4CFAE;
@define-color color7 #E1DFCE;

@define-color color8 #9E9C90;
@define-color color9 #8F7F71;
@define-color color10 #9C957E;
@define-color color11 #75A097;
@define-color color12 #9EB39F;
@define-color color13 #C4B092;
@define-color color14 #D4CFAE;
@define-color color15 #E1DFCE;