@import "colors.css";

* {
  min-height: 0;
  min-width: 0;
  font-family: Lexend, "JetBrainsMono NFP";
  font-size: 16px;
  font-weight: 600;
}

window#waybar {
  transition-property: background-color;
  transition-duration: 0.5s;
  background-color: transparent;
}

#workspaces button {
  padding: 0.3rem 0.6rem;
  margin: 0.4rem 0.25rem;
  border-radius: 6px;
  background-color: @background;
  color: @foreground;
}

#workspaces button:hover {
  color: @background;
  background-color: @foreground;
}

#workspaces button.active {
  background-color: @background;
  color: @color4;
}

#workspaces button.urgent {
  background-color: @background;
  color: @color1;
}

#clock,
#pulseaudio,
#custom-logo,
#custom-power,
#custom-spotify,
#custom-notification,
#cpu,
#tray,
#memory,
#window,
#mpris {
  padding: 0.3rem 0.6rem;
  margin: 0.4rem 0.25rem;
  border-radius: 6px;
  background-color: @background;
}

#mpris.playing {
  color: @color2;
}

#mpris.paused {
  color: @color7;
}

#custom-sep {
  padding: 0px;
  color: @color8;
}

window#waybar.empty #window {
  background-color: transparent;
}

#cpu {
  color: @color6;
}

#memory {
  color: @color5;
}

#clock {
  color: @color4;
}

#clock.simpleclock {
  color: @color12;
}

#window {
  color: @foreground;
}

#pulseaudio {
  color: @color12;
}

#pulseaudio.muted {
  color: @color8;
}

#custom-logo {
  color: @color4;
}

#custom-power {
  color: @color1;
}

tooltip {
  background-color: @background;
  border: 2px solid @color4;
}